body {
  font-family: "Outfit", sans-serif;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #d5e1ef;
}

.qr_code {
  width: 450px;
  height: 650px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}

.enquadramento_img {
  padding: 20px;
}

.imagem_qr {
  width: 100%;
  border-radius: 25px;
}

.titulo {
  font-size: 25px;
  font-weight: 700;
  padding: 0px 50px;
}

.texto {
  color: #aeafb1;
  padding: 15px 40px;
  font-size: 20px;
}
